USE [master]
GO
/****** Object:  Database [POs]    Script Date: 14/07/2023 07:43:49 م ******/
CREATE DATABASE [POs]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'POs', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.SQLSERVER2014\MSSQL\DATA\POs.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'POs_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.SQLSERVER2014\MSSQL\DATA\POs_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [POs].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [POs]
GO
/****** Object:  Table [dbo].[Inoivce]    Script Date: 14/07/2023 07:43:49 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inoivce](
	[invoiceId] [money] NOT NULL,
	[Total_Price] [money] NULL,
	[Vat] [money] NULL,
	[Discount] [money] NULL,
	[NetCost] [money] NULL,
	[amount] [money] NULL,
	[Remainder] [money] NULL,
 CONSTRAINT [PK_Inoivce] PRIMARY KEY CLUSTERED 
(
	[invoiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Invoice_Detials]    Script Date: 14/07/2023 07:43:49 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Invoice_Detials](
	[invoiceId] [money] NOT NULL,
	[row_Id] [smallint] NOT NULL,
	[Name] [varchar](200) NULL,
	[Qty] [money] NULL,
	[price] [money] NULL,
	[ItemId] [smallint] NULL,
 CONSTRAINT [PK_Invoice_Detials] PRIMARY KEY CLUSTERED 
(
	[invoiceId] ASC,
	[row_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[item_list]    Script Date: 14/07/2023 07:43:49 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[item_list](
	[Name] [varchar](200) NULL,
	[Price] [money] NULL,
	[Type] [varchar](50) NULL,
	[item_Id] [smallint] NOT NULL,
 CONSTRAINT [PK_item_list] PRIMARY KEY CLUSTERED 
(
	[item_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[userlist]    Script Date: 14/07/2023 07:43:49 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[userlist](
	[User_Name] [varchar](50) NULL,
	[User_Password] [varchar](50) NULL,
	[User_Id] [smallint] NOT NULL,
 CONSTRAINT [PK_userlist] PRIMARY KEY CLUSTERED 
(
	[User_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[vouchers]    Script Date: 14/07/2023 07:43:49 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vouchers](
	[invoiceId] [money] NULL,
	[Amount] [money] NULL,
	[Cash] [bit] NULL,
	[visa] [bit] NULL,
	[VoucherID] [money] NOT NULL,
 CONSTRAINT [PK_vouchers] PRIMARY KEY CLUSTERED 
(
	[VoucherID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
USE [master]
GO
